h1{
    color: #2c3e50;
}
.main2{
    height: 130vh;
}
.line{
    width: 100px;
    height: 4px;
    background-color: #2c3e50;
}
.icon{
    margin-top: 2px;
    color: #2c3e50;
}
.portfolio-card {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
}

.portfolio-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.overlay {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background-color: #1abc9cd3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
}
.portfolio-card:hover .overlay {
    opacity: 1;
}

.overlay-plus {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    pointer-events: none;
}