.navbar{
    background-color: #2c3e50;
    position: sticky;
}
#mainNav {
  padding: 20px 0;
  transition: padding 0.3s ease;
}

#mainNav.nav-shrink {
  padding: 5px 0;
}

.nav-link.active {
  background-color: #1abc9c;
  border-radius: 8px;
}
