.footer{
    height: 50vh;
    background-color: #2c3e50;
}
.shape{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 5px;
}
.footer-end{
    width: 100%;
    height: 10vh;
    background-color: #1c242c;
    bottom: 0;
    left: 0;
}